// app global css in SCSS form
.comforter-brush-regular {
  font-family: 'Comforter Brush', cursive;
  font-weight: 400;
  font-style: normal;
}

.cursive {
  font-family: 'Comforter Brush', cursive;
  font-weight: 600;
  letter-spacing: 5px;
  font-style: normal;
}
